body, html {
  margin: 0;
  font-family: arial;
  height: 100vh;
  background: #000000;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.nav-mobile {
  background: #000000;
  color: #FFF;
  padding: 0;
  margin: 0;
  cursor: auto;
  font-size: 22px;
  list-style-type: none;
  box-shadow: 0 5px 5px -5px #333;
}
.nav-mobile:after {
  content: "";
  display: table;
  clear: both;
}
.nav-mobile svg {
  height: 45px;
  width: 65px;
  padding: 9px;
}
.nav-mobile svg path {
  fill: #fff;
}
.nav-mobile svg.icon-close {
  display: none;
  padding: 15px;
}
.nav-mobile li {
  width: 100%;
  height: 45px;
  line-height: 46px;
  text-align: center;
  float: left;
}
.nav-mobile li a {
  display: block;
  color: #333;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.nav-mobile .menu-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  display: block;
}
.nav-mobile .menu-button:after {
  opacity: 0;
  top: 45px;
  content: "";
  width: 100vw;
  display: block;
  position: fixed;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  content: "";
  pointer-events: none;
  transition: opacity 0.2s cubic-bezier(0, 0, 0.3, 1);
  transition-delay: 0.1s;
}
.nav-mobile #menu-toggle {
  display: none;
}
.nav-mobile #menu-toggle.active ~ .menu-button .icon-close, .nav-mobile #menu-toggle:checked ~ .menu-button .icon-close {
  display: block;
}
.nav-mobile #menu-toggle.active ~ .menu-button .icon-open, .nav-mobile #menu-toggle:checked ~ .menu-button .icon-open {
  display: none;
}
.nav-mobile #menu-toggle.active ~ .menu-button:after, .nav-mobile #menu-toggle:checked ~ .menu-button:after {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
}
.nav-mobile #menu-toggle.active ~ .menu-sidebar, .nav-mobile #menu-toggle:checked ~ .menu-sidebar {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
}
.nav-mobile .menu-container {
  width: 65px;
  float: left;
  cursor: pointer;
  position: absolute;
}
.nav-mobile .menu-container .menu-sidebar {
  box-shadow: 5px 0 5px -5px #333;
  display: block;
  overflow-y: scroll;
  width: 65vw;
  bottom: 0;
  background: white;
  color: #333;
  position: fixed;
  transform: translateX(-405px);
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  top: 45px;
  z-index: 2;
  list-style-type: none;
  padding: 0;
  max-width: 400px;
}
.nav-mobile .menu-container .menu-sidebar .arrow {
  position: absolute;
  line-height: 50px;
  font-size: 32px;
  color: #555;
  top: 0;
  z-index: 0;
}
.nav-mobile .menu-container .menu-sidebar .arrow.left {
  left: 25px;
}
.nav-mobile .menu-container .menu-sidebar .arrow.right {
  right: 25px;
}
.nav-mobile .menu-container .menu-sidebar li {
  height: 55px;
  line-height: 55px;
  font-size: 16px;
  text-align: left;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
}
.nav-mobile .menu-container .menu-sidebar li:hover {
  background: #eee;
}
.nav-mobile .menu-container .menu-sidebar li .menu-sub {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  overflow: hidden;
  background: white;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  border-left: 1px solid #ccc;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 2;
  max-width: 400px;
}
.nav-mobile .menu-container .menu-sidebar li .menu-sub li {
  overflow: hidden;
}
.nav-mobile .menu-container .menu-sidebar li .menu-sub .menu-sub-title {
  padding-left: 50px;
}
.nav-mobile .menu-container .menu-sidebar li .submenu-label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
}
.nav-mobile .menu-container .menu-sidebar li .submenu-toggle {
  display: none;
}
.nav-mobile .menu-container .menu-sidebar li .submenu-toggle.active ~ .menu-sub, .nav-mobile .menu-container .menu-sidebar li .submenu-toggle:checked ~ .menu-sub {
  width: 65vw;
  visibility: visible;
  z-index: 1;
  transition: width 0.35s cubic-bezier(0, 0, 0.3, 1);
}


.caratula {
  float: left;
  font-size: 20px;
  background-size: 85% 85%;
  background-color: #000000;
  background-repeat: no-repeat;
  color: #000000;
  width: 25%;
  height: 80px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  display: block;
 }
 

 
.ser {background-image: url("https://drive.google.com/uc?export=view&id=13tLQ93tAWQWVNRwB54uU7tqHe7mu20wq");}
.cope {background-image: url("https://drive.google.com/uc?export=view&id=1opbTCQN_BU5iqcyy8z9loHC3Cb4SaewM");}
.rne {background-image: url("https://drive.google.com/uc?export=view&id=1qBYPObiC8MyZddX49P0epaHsJW838MXE");}
.radio3 {background-image: url("https://drive.google.com/uc?export=view&id=1HsTS2BxTiVgBFcIA6NbCkjwISu2_wqUP");}
.radio5 {background-image: url("https://drive.google.com/uc?export=view&id=1mmDPXfaJoXQ_dYbcz_KF6_YSgTEUWZjr");}
.clasica {background-image: url("https://drive.google.com/uc?export=view&id=19UhG80REQzBopcrWCoz2625sj0FCk5sm");}
.cero {background-image: url("https://drive.google.com/uc?export=view&id=1qHV8wv66m1jNYdZwYceUtzYqK0BoPZ53");}
.europa {background-image: url("https://drive.google.com/uc?export=view&id=1c8S-jtiUXJAqJOO_YDF2ImquE_0lOVuP");}
.los40 {background-image: url("https://drive.google.com/uc?export=view&id=1dHcggHQ39x6m23UShyRHFnlNjPioAwYW");}
.m80 {background-image: url("https://drive.google.com/uc?export=view&id=1AX2dWRLdBLmRXHycUFZR-nOrrG-hnyxw");}
.cadena100 {background-image: url("https://drive.google.com/uc?export=view&id=1G4SEJ8EOvXGfqjrmMXWycxE0n1Vx8nqx");}
.radiole {background-image: url("https://drive.google.com/uc?export=view&id=15LRbEx-ULD008WeidwlauVMP-cGve7mD");}
.flaixbac {background-image: url("https://drive.google.com/uc?export=view&id=12DPzsTVcIgQMeCkwMaYa8DpcGQ7sVOoH");}
.dance {background-image: url("https://drive.google.com/uc?export=view&id=1FtNHMxRG30setIvUrcVfTUn6umDobnbR");}
.ibiza {background-image: url("https://drive.google.com/uc?export=view&id=1Aw-vVjUDumj6zpBuGpBK0B3CvjSZY86Q");}
.hit {background-image: url("https://drive.google.com/uc?export=view&id=1pk3YDOfE3qGHSzQQDSnacX_7RCB9vbiP");}
.marca {background-image: url("https://drive.google.com/uc?export=view&id=1HQlAmtOMNdC13dJibLQjk2No8rT2Re-A");}
.olimpica {background-image: url("https://drive.google.com/uc?export=view&id=1ku9PwlPv6pCiDmgeOkwg_OLTJEJFHbLZ");}
.rock {background-image: url("https://drive.google.com/uc?export=view&id=1XV6cz1Qkpe74vAPO2QCG2SkGx9z7E8hi");}
.rockfm {background-image: url("https://drive.google.com/uc?export=view&id=1yqhyx5jaStbtrzKixKVMxshTXZ69wALv");}
.dial {background-image: url("https://drive.google.com/uc?export=view&id=1UavFy-YTbzT1KMssGVC9qPp4ejrbK3px");}
.kiss {background-image: url("https://drive.google.com/uc?export=view&id=15FxA7Pw0PiI1Qj1FetraOntd3sHkMUA0");}
.esradio {background-image: url("https://drive.google.com/uc?export=view&id=1BcOWONEsGdtn-yH4FgoUvVT_GN7TOm6S");}
.loca {background-image: url("https://drive.google.com/uc?export=view&id=11LZcmoq92ZIKcSytSZVk_jyUtUYCxxlB");}
.maxima {background-image: url("https://drive.google.com/uc?export=view&id=1vdcaSWeOLSdH8S4CB3CbDKN0M9oF86au");}
.flaix {background-image: url("https://drive.google.com/uc?export=view&id=1xmSCGA1K3Lp8LQJ74M_GrwdxCvYDBIOR");}
.bit {background-image: url("https://drive.google.com/uc?export=view&id=1t8-cHUEsJeE4gbwirI0ecLpbkrq7Eyt_");}
.sur {background-image: url("https://drive.google.com/uc?export=view&id=1i-hV1oIbxQTr-yJMWhkhZvYNtQtJE94n");}
.love {background-image: url("https://drive.google.com/uc?export=view&id=1JBFkFFPik6zKRhJJXYIM2tzXLEDptY-l");}
.rac105 {background-image: url("https://drive.google.com/uc?export=view&id=1yZxBGNKEeurLQ4NSyrKYyaKA3KdAiikX");}
.catalunya {background-image: url("https://drive.google.com/uc?export=view&id=1nPlPAZob0v2pYN8j4bPT3qaKCg5X5R5B");}
.andalucia {background-image: url("https://drive.google.com/uc?export=view&id=1bxloYshipPQRg7K5j9fS37Wr82tL0vw6");}
.esencia {background-image: url("https://drive.google.com/uc?export=view&id=1vko9ceUlzvp9N4VCt7Of2Zj-ifmxCLWz");}
.xtra {background-image: url("https://drive.google.com/uc?export=view&id=1YNIRaRFiV02f-CruvY39JFV6pJrw3sgd");}
.satelite {background-image: url("https://drive.google.com/uc?export=view&id=1s9_aqO9Ksp6zCel2Ok8op8_FS3N2qE15");}
.digital {background-image: url("https://drive.google.com/uc?export=view&id=10A_EJTsThDHb-pCNAnQ_TIdxlAQfSlkM");}
.rac1 {background-image: url("https://drive.google.com/uc?export=view&id=1RTxSgQFG4U5DvG2yYynsdURUocH557DK");}
.punto {background-image: url("https://drive.google.com/uc?export=view&id=1IYOOKtPkGEjbC5y-JfD_qZ3K75Nw9Z-9");}
.fiesta {background-image: url("https://drive.google.com/uc?export=view&id=1nTGDxxNI4WVvhuRCVjMoa45KN0CZNij4");}
.flamenco {background-image: url("https://drive.google.com/uc?export=view&id=113hB4K3v_kksnkODZh2oGZWyyFNqLY3p");}
.qfm {background-image: url("https://drive.google.com/uc?export=view&id=1hGjXaOUFsVv7tIBqZAFhGhj5peLDlSQr");}
.capital {background-image: url("https://drive.google.com/uc?export=view&id=1FF7k-o9-CGgCyG4fRvX3XHh7T4utA3Sa");}
.ska {background-image: url("https://drive.google.com/uc?export=view&id=1lEZL36FIiS0b101KRWva7_buMZbdZsmT");}
.punk {background-image: url("https://drive.google.com/uc?export=view&id=1jfMPweUjJhptVBHwFE0uQKICVjC1ZKjt");}
.banana {background-image: url("https://drive.google.com/uc?export=view&id=1O1RSgGHsHyt0fYLasmXVqGXGsv0S-fIK");}
.meztizo {background-image: url("https://drive.google.com/uc?export=view&id=1Cdy6AGURbUkw3DDpRHxgbTp0H-fC-K63");}
.mexico {background-image: url("https://drive.google.com/uc?export=view&id=1vJkfA6-uXDcEEVAnil4Qek3KcRKJM_Bu");}
.riot {background-image: url("https://drive.google.com/uc?export=view&id=1wHKDBVclRKHYeUDnk7Rn7EE5aWXG6mhZ");}
.punks {background-image: url("https://drive.google.com/uc?export=view&id=10wvgy_6zCmjjf-6pWge8lwOxYIU0JhqI");}
.aragon {background-image: url("https://drive.google.com/uc?export=view&id=1yLw_OHlCDrjAoFTNAJF_D0NyiJt6hNx1");}

.show {
  display: block;}

.container {
  margin-top: 5px;
  overflow: visible;}


.img_menu{
    border: 2px solid black;
    width: 90%;
    height: 25px;}

.boton_compartir {
  width: 40px;
  height: 40px;
  background-image: url("https://i.ibb.co/XzQV3rD/icono-compartir.jpg");
  background-color: #00000000; /* Transparente */
  background-size: 120% 120%;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid grey;
  border-radius: 15px;
  color: #00000000;
  padding: 0;
  display:block;
  margin-top: 2%;
  margin-left: 85%;
  position:absolute;
  margin-right: 0;
  cursor: pointer;}


hr.barra2 {
  position: center;
  width: 100%;
  border: 1px solid grey;
  border-radius: 0px;
}

hr.barra1 {
  margin-top: -5px;
  position: center;
  width: 100%;
  border: 2px solid black;
  border-radius: 0px;
}



.img_titulo{
   float: left;
   margin: 10px 15px 10px 15px;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 30px;
   width: 50px;
   text-align: center;
  background-color: #000000;}


.filterDiv {
  float: left;
  font-size: 20px;
  background-color: #000000;
  color: #000000;
  width: 50%;
  height: 80px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  display: block;}

.container {
  margin-top: 25px;
  overflow: visible;}
  
.cabecera {
  height: 3%;
  width: 50%;
  max-width: 200px;
  margin-top: 5%;
  overflow: visible;
  border: 4px solid grey;
  border-radius: 15px;}
